body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

button {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    text-align: center;
}

button:hover {
    background-color: #218838;
}

#comprasContent, #inventarioContent, #ventasContent, #reportesContent {
    padding: 20px;
    background: white;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
